body{
    margin: 0;
    height: 100vh;
}

h1{
    text-align: center;
}

.container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}


.lang-select{
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    width: 150px;
}

.books-filter{
    display: flex;
    flex-direction: column;
}

.books-control{
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.books-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 50px auto;
}

.nav-btns{
    margin: auto;
}

.hide{
    display: none;
}

