
body{
    margin: 0;
    height: max-content;
    min-height: 100vh;
}
body.rtl{
    direction: rtl;
}

h1{
    text-align: center;
}

.container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.lang-select{
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    width: 150px;
}

.books-filter{
    display: flex;
    flex-direction: column;
}

.books-control{
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.books-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 50px auto;
}

.nav-btns{
    margin: auto;
}

.hide{
    display: none;
}
.book-modal img{
    height: 400px;
}

.book-modal {
    background-color: #111;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    text-align: center;
    color: white;
}
.book-modal.open {
    left: 50%;
    transition: left .5s;
}
.book-modal h3{
    color:pink;
    text-decoration: overline;
    text-transform: capitalize;
}
.book-modal h4 span{
    color:pink;
}
.book-modal > p {
    text-align: left;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;
}
